/.config
/.github
/.vscode
.eslintrc
.editorconfig
.eslintrc.json
.gitignore
.history
.idea
.config
.npmignore
.projectile
babel.config.js
/scripts

/build
node_modules


test
__tests__
__mocks__
__jests__

/yarn.lock
/package-lock.json
.DS_store
/.vscode
/.idea
